.report-by-quiz-view {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 150px 50px 1fr var(--gap-l);
  padding: 0 10%;
  max-height: auto;
  background-color: var(--background-light);
height: 100%;
}
.tests-wrapper{
  height: max-content;
  background-color: #fff;
  padding: 0 var(--gap-m);
  border-radius: 2em;
}
.tests-container {
  border-radius: 2em;
  background-color: var(--background-light);
}