.AddQForm {
  width: 100%;
  height:calc(100vh - 60px);
  margin: var(--gap-xs);
  overflow-y: scroll;
  background-color: var(--light-color);
  display: block;
}

.AddQForm h1 {
  color: var(--accent);
}
.form-container h3,.Input[type="submit"]{
  grid-column: span 2;
  margin: 0;
}
.form-container {
  color: var(--text-color-dark);
  overflow-y: scroll;
  background-color: var(--midtone-color);
  display: grid;
  grid-row: auto;
  grid-template-columns: max-content 1fr ;
  height: auto;
  gap: var(--gap-m);
  width: inherit;
  padding: 0 var(--gap-m);
  margin-bottom: var(--gap-m);
}
form {
  width: auto;
}
.form-container label{
  font-size: 1.1em;
  font-weight: var(--font-weight-l);
}
hr {
  background-color: var(--accent);
  height: var(--gap-xs);
  width: 100%;
  grid-column:span 2;
}

.AddQForm::-webkit-scrollbar {
  height: 0;
}
.AddQForm ::-webkit-scrollbar-thumb {
  border-radius: 2em;
  background-color: transparent;
}
.AddQForm ::-webkit-scrollbar-track {
  width: 5em;
  background: var(--light-color);
}
.ErrorMessage {
  color: var(--text-color-error);
}