.AddQForm {
  width: 100%;
  height: auto;
  margin-top: var(--gap-xs);
  overflow-y: scroll;
  background-color: var(--light-color);
  display: grid;
  grid-template-rows: 75px 1fr;
  color: var(--text-color-dark);
}

.AddQForm h1 {
  color: var(--accent);
}
.form-container h3{
  grid-column: span 2;
  margin: 0;
}
.form-container {
  overflow-y: scroll;
  background-color: var(--midtone-color);
  display: grid;
  grid-row: auto;
  grid-template-columns: 150px 1fr ;
  height: auto;
  gap: var(--gap-l);
  width: inherit;
  padding: 0 var(--gap-m);
  margin-bottom: var(--gap-m);
}
form {
  width: auto;
}
hr {
  background-color: var(--accent);
  height: var(--gap-xs);
  width: 100%;
  grid-column:span 2;
}

.AddQForm::-webkit-scrollbar {
  height: 0;
}
.AddQForm ::-webkit-scrollbar-thumb {
  border-radius: 2em;
  background-color: transparent;
}
.AddQForm ::-webkit-scrollbar-track {
  width: 5em;
  background: var(--light-color);
}
.ErrorMessage {
  color: red;
}