.AddTForm {
  width: 100%;
  height:min-content;
  overflow-y: scroll;
  background-color: var(--light-color);
  display: block;
  color: var(--text-color-dark);
}
.form-container h1{
  color:var(--accent)
}
/* .form-container {
    overflow-y:scroll;
    background-color: var(--midtone-color);
    display: flex;
    flex-direction: column;
    gap: var(--gap-l);
    width: inherit;

    padding: 0 var(--gap-m) ;
    height:min-content;
    margin-bottom: 0;
} */

.AddQForm::-webkit-scrollbar {
  height: 0;
}
.AddQForm  ::-webkit-scrollbar-thumb {
  border-radius: 2em;
  background-color: transparent;
}
.AddQForm ::-webkit-scrollbar-track {
  width: 5em;
  background: var(--light-color);
}
