.expense-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin: 1rem 0;
  background-color: #c7c7c7af;
  color: black;
}

.active .expense-item {
  background-color: #a9deab;
}

.expense-date {
  display: flex;
  flex-direction: column;
  width: 3.5rem;
  height: 3.5rem;
  border: 1px solid #ececec;
  background-color: var(--accent);
  color: white;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
}

button.expense-date {
  height: 2.5rem;
}

button.expense-date:hover {
  background-color: #7157b18a;
  transition: background-color .2s;
}

.expense-item__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  gap: 1rem;
  align-items: flex-end;
  flex-flow: column-reverse;
  flex: 1;
  font-size: 1rem;
}

@media (min-width: 580px) {
  .expense-item__description {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
  }
}