.AddQForm {
  width: 95%;
  height:95% ;
  overflow-y: scroll;
  background-color: var(--light-color);
  display: grid;
  grid-template-rows: 90px 1fr;
  color: var(--text-color-dark);
}
.AddQForm h1 {
  color: var(--accent);
}
.form-container {
    overflow-y:scroll;
    background-color: var(--midtone-color);
    display: flex;
    flex-direction: column;
    gap: var(--gap-l);
    width: 70%;
    padding: 0 var(--gap-m) ;
    height:100vh;
    margin-bottom: calc(var(--gap-l) * 300);

}

/* 
.form-container ::-webkit-scrollbar {
  height: 5em;
}
.form-container  ::-webkit-scrollbar-thumb {
  border-radius: 2em;
  background-color: var(--accent);
}
.form-container  ::-webkit-scrollbar-track {
  width: 5em;
  background: var(--light-color);
}
 */