html, body, #root, .App {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}
.App {
  display: block;
}
a{
  color: inherit;
  text-decoration:none;
  font-weight: var(--font-weight-m);
}

a.active {
  color:var(--accent);
}
li{
  list-style: none;
}
ul {
  list-style: none;
  margin-left: var(--gap-s);
  padding: 0;
}
input :active ,input:focus{
  border-width: 0px;
}