.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: rgba(0, 0, 0, 0.75);
  }
  
  .modal {
    position: absolute;
    top: 20vh;
    left: 20vw;
    display: grid;
    width: 60vw;
    height: 60vh;
    grid-template-rows:7vh 45vh 8vh;
    z-index: 100;
    overflow: hidden;
    background: white
  }
  
  .header {
    background: var(--accent);
    padding: 1rem;
  }
  
  .header h2 {
    margin: 0;
    color: white;
  }
  
  .content {
    overflow-y: auto;
    padding:  0 1rem 0 2;
    background-color: white;
    height: auto;
    width: 100%;
    margin: 0;

    overflow-y: scroll;
  }
  
  .actions {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    background-color: white;
  }
  
  .correct_indexer {
    color: rgb(87, 214, 98);
  }